Repository iakito-dev/todays-cocktail: changes, and which lint-staged commands are due for each by the changed paths.
All: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write, backend/bin/lint-staged-rubocop

.lintstagedrc.json:

{
  "frontend/src/**/*.{js,jsx,ts,tsx}": [
    "frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern",
    "frontend/node_modules/.bin/prettier --write"
  ],

  "frontend/src/**/*.css": ["frontend/node_modules/.bin/prettier --write"],

  "backend/**/*.rb": ["backend/bin/lint-staged-rubocop"],

  "*.{json,md,yml,yaml}": ["frontend/node_modules/.bin/prettier --write"]
}

feat: SEO改善と構造化データの拡充
  frontend/index.html
  frontend/src/components/layout/Seo.tsx
  frontend/src/features/cocktails/components/list/CocktailList.tsx
  frontend/src/features/cocktails/pages/CocktailDetail.tsx
  frontend/src/lib/seo.ts
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

refactor: SEO構造化データとキーワード管理の整理
  frontend/src/components/layout/Seo.tsx
  frontend/src/features/cocktails/components/list/CocktailList.tsx
  frontend/src/features/cocktails/pages/CocktailDetail.tsx
  frontend/src/lib/seo.ts
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

fix: alternateNameの表記ゆれを修正
  frontend/index.html
Due: none

chore: SEO用タイトル・説明文をより具体的に修正
  frontend/src/features/cocktails/components/list/CocktailList.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

docs: タイトル・OGP文言をより魅力的な表現に更新
  frontend/index.html
  frontend/src/features/cocktails/components/list/CocktailList.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

docs: アプリ紹介メッセージを修正
  frontend/index.html
  frontend/src/features/cocktails/components/list/CocktailList.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

feat: カクテル検索に技法・度数フィルター追加
  .husky/pre-commit
  backend/app/controllers/api/v1/cocktails_controller.rb
  backend/app/services/translation_service.rb
  docs/concept_design.md
  docs/figma/src/App.tsx
  docs/figma/src/components/TodaysPick.tsx
  docs/figma/src/index.css
  docs/frontend-backend-integration.md
  docs/old/functional_requirements_old.md
  docs/old/wireframe_old.md
  docs/wireframe.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/accordion.tsx
  frontend/src/features/cocktails/components/CocktailCard.tsx
  frontend/src/features/cocktails/components/CocktailFilters.tsx
  frontend/src/features/cocktails/components/__tests__/CocktailCard.test.tsx
  frontend/src/features/cocktails/components/__tests__/CocktailFilters.test.tsx
  frontend/src/features/cocktails/components/detail/cocktailUtils.ts
  frontend/src/features/cocktails/components/list/CocktailList.tsx
  frontend/src/features/cocktails/components/list/SortMenu.tsx
  frontend/src/features/cocktails/hooks/useCocktailSearch.ts
  frontend/src/features/todays-pick/components/TodaysPick.tsx
  frontend/src/lib/api.ts
  frontend/vitest.config.ts
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write, backend/bin/lint-staged-rubocop

fix: CI fallback without asdf
  backend/spec/requests/api/v1/cocktails_spec.rb
  frontend/package.json
  frontend/scripts/run-with-asdf.sh
Due: frontend/node_modules/.bin/prettier --write, backend/bin/lint-staged-rubocop

feat: テクニック説明用ツールチップを追加
  frontend/src/features/cocktails/components/CocktailFilters.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

chore: サイトマップのlastmod日時を更新
  frontend/public/sitemap.xml
Due: none

style: 検索入力欄のフォントサイズを調整
  frontend/src/features/cocktails/components/CocktailFilters.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

Revise README for clarity and additional details
  README.md
Due: frontend/node_modules/.bin/prettier --write

Refactor README.md for better clarity and structure
  README.md
Due: frontend/node_modules/.bin/prettier --write

Improve SEO signals for indexed pages
  frontend/public/sitemap.xml
  frontend/src/features/cocktails/components/list/CocktailList.tsx
  frontend/src/features/cocktails/pages/CocktailDetail.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

fix: noindex出力条件をAPIロード後のみに限定
  frontend/src/features/cocktails/pages/CocktailDetail.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

feat: パスワード再設定・プロフィール編集機能を追加
  backend/app/controllers/api/v1/passwords_controller.rb
  backend/app/controllers/api/v1/users_controller.rb
  backend/app/views/devise/mailer/reset_password_instructions.html.erb
  backend/app/views/devise/mailer/reset_password_instructions.text.erb
  backend/config/routes.rb
  backend/spec/requests/api/v1/passwords_spec.rb
  backend/spec/requests/api/v1/users_spec.rb
  frontend/Dockerfile
  frontend/src/App.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/features/account/pages/AccountSettings.tsx
  frontend/src/features/auth/components/AuthDialog.tsx
  frontend/src/features/auth/components/ForgotPasswordDialog.tsx
  frontend/src/features/auth/pages/ResetPassword.tsx
  frontend/src/lib/api.ts
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write, backend/bin/lint-staged-rubocop

Remove links to tech stack and wireframe documentation
  README.md
Due: frontend/node_modules/.bin/prettier --write

Chore: Adjust SEO title logic and defaults
  frontend/src/components/layout/Seo.tsx
  frontend/src/lib/seo.ts
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

Update cache section in README
  README.md
Due: frontend/node_modules/.bin/prettier --write

docs: README更新
  README.md
Due: frontend/node_modules/.bin/prettier --write

docs: レイアウト更新
  README.md
Due: frontend/node_modules/.bin/prettier --write

fix: Google検索結果のサイト画像表示のためにOrganizationロゴを512pxに変更
  frontend/index.html
Due: none

Remove LINKS section from footer
  frontend/src/components/layout/Footer.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

Add GitHub link to footer and remove incorrect team name
  frontend/src/components/layout/Footer.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

Update GitHub link to repository URL
  frontend/src/components/layout/Footer.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

Remove 'Crafted by Akito' text from footer
  frontend/src/components/layout/Footer.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

feat: ユーザー入力値のバリデーションを追加
  backend/app/models/cocktail.rb
  backend/app/models/user.rb
  backend/app/validators/url_validator.rb
  backend/spec/models/cocktail_spec.rb
  backend/spec/models/user_spec.rb
Due: backend/bin/lint-staged-rubocop

feat: 404ページと静的エラーページを追加
  frontend/public/404.html
  frontend/public/_error.html
  frontend/src/App.tsx
  frontend/src/features/error/pages/NotFound.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

fix: RSpecのエンコーディングエラーを修正
  .github/workflows/ci.yml
  backend/config/boot.rb
Due: frontend/node_modules/.bin/prettier --write, backend/bin/lint-staged-rubocop

fix: FactoryBotのUserファクトリーにname属性を追加
  backend/spec/factories/users.rb
Due: backend/bin/lint-staged-rubocop

fix: サインアップテストとURLバリデーターを修正
  backend/app/validators/url_validator.rb
  backend/spec/requests/api/v1/authentication_spec.rb
Due: backend/bin/lint-staged-rubocop

Refactor README for improved clarity and conciseness
  README.md
Due: frontend/node_modules/.bin/prettier --write

Update README.md
  README.md
Due: frontend/node_modules/.bin/prettier --write

docs: readme更新
  README.md
Due: frontend/node_modules/.bin/prettier --write

Remove diagrams from README
  README.md
Due: frontend/node_modules/.bin/prettier --write

Revise ER diagram in README.md
  README.md
Due: frontend/node_modules/.bin/prettier --write

Revise database schema in README.md
  README.md
Due: frontend/node_modules/.bin/prettier --write

　docs: Readme.md更新
  README.md
Due: frontend/node_modules/.bin/prettier --write

Add images to features section in README
  README.md
Due: frontend/node_modules/.bin/prettier --write
