Repository iakito-dev/todays-cocktail: changes, and which lint-staged commands are due for each by the changed paths.
All: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write, backend/bin/lint-staged-rubocop

feat: Vercel Analyticsを導入
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/vite.config.ts
  package-lock.json
  package.json
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

chore: 文言を統一
  .env.example
  backend/README.md
  backend/app/views/devise/mailer/confirmation_instructions.html.erb
  backend/app/views/devise/mailer/confirmation_instructions.text.erb
  docs/figma/src/components/AuthDialog.tsx
  docs/old/concept_design_old.md
  frontend/dist/assets/index-BK_LlVWq.js
  frontend/dist/index.html
  frontend/index.html
  frontend/src/features/auth/pages/EmailConfirmation.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

feat: サイトマップ自動生成機能を追加
  README.md
  frontend/package.json
  frontend/public/sitemap.xml
  frontend/scripts/generate-sitemap.mjs
Due: frontend/node_modules/.bin/prettier --write

feat: robots.txtを追加しrewriteルールを改善
  frontend/public/robots.txt
  frontend/vercel.json
Due: frontend/node_modules/.bin/prettier --write

docs: サイトマップ生成手順と運用例を改善
  README.md
  frontend/public/sitemap.xml
Due: frontend/node_modules/.bin/prettier --write

feat: faviconおよびアイコン画像を追加
  frontend/dist/index.html
  frontend/index.html
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-192.png
  frontend/public/favicon-48.png
  frontend/public/favicon-512.png
  frontend/public/favicon.svg
Due: none

chore: 文言修正
  docs/old/concept_design_old.md
  docs/old/overview_old.md
  frontend/dist/assets/index-BK_LlVWq.js
  frontend/src/components/layout/Footer.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/features/cocktails/components/list/CocktailList.tsx
  frontend/src/lib/seo.ts
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

docs: サブタイトルの文言を修正
  frontend/src/components/layout/Header.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

chore: ディレクトリファイル整理
  frontend/dist/assets/index-BK_LlVWq.js
  frontend/dist/assets/index-C5NMGTb_.css
  frontend/dist/favicon.svg
  frontend/dist/index.html
  frontend/dist/og-default.png
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/assets/react.svg
Due: frontend/node_modules/.bin/prettier --write

Align mail sender config and fix hooks
  .husky/pre-commit
  backend/RESEND_SETUP.md
  backend/app/mailers/application_mailer.rb
  backend/bin/lint-staged-rubocop
  backend/config/environments/development.rb
  backend/config/environments/production.rb
  backend/config/initializers/devise.rb
Due: frontend/node_modules/.bin/prettier --write, backend/bin/lint-staged-rubocop

fix: メールテンプレートのデザインと日本語表現を改善
  backend/app/views/devise/mailer/confirmation_instructions.html.erb
  backend/app/views/layouts/mailer.html.erb
  backend/config/locales/devise.ja.yml
Due: frontend/node_modules/.bin/prettier --write

fix: メール確認案内文の内容と件名を改善
  backend/app/views/devise/mailer/confirmation_instructions.html.erb
  backend/config/locales/devise.ja.yml
Due: frontend/node_modules/.bin/prettier --write

feat: メール認証文面のデザインと内容を改善
  backend/app/views/devise/mailer/confirmation_instructions.html.erb
Due: none

feat: OGP画像を設定
  frontend/index.html
  frontend/public/ogp_image.jpg
  frontend/src/lib/seo.ts
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

feat: favicon.icoの追加とHTMLへのリンク設定
  frontend/index.html
  frontend/public/favicon.ico
Due: none

feat: フィルターボタンのアイコンを検索に変更
  frontend/src/features/cocktails/components/list/CocktailList.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

docs: rewrite portfolio article with personal narrative and problem-solution focus
  docs/articles/portfolio_draft.md
Due: frontend/node_modules/.bin/prettier --write

docs: align messaging to 'カクテルをもっと身近に' (title, TL;DR, narrative)
  docs/articles/portfolio_draft.md
Due: frontend/node_modules/.bin/prettier --write

feat(backend,frontend): コールドスタート高速化（索引/圧縮/キャッシュ/分割読み込み）
  backend/app/controllers/api/v1/cocktails_controller.rb
  backend/config/application.rb
  backend/db/migrate/20251112090000_enable_pg_trgm_and_add_search_indexes.rb
  frontend/dist/apple-touch-icon.png
  frontend/dist/assets/CocktailDetail-BtsUmg9w.js
  frontend/dist/assets/CocktailDetail-BtsUmg9w.js.map
  frontend/dist/assets/CocktailList-DfMyNuPR.js
  frontend/dist/assets/CocktailList-DfMyNuPR.js.map
  frontend/dist/assets/EmailConfirmation-DqNBJ2Oq.js
  frontend/dist/assets/EmailConfirmation-DqNBJ2Oq.js.map
  frontend/dist/assets/ImageWithFallback-BtcMmNS2.js
  frontend/dist/assets/ImageWithFallback-BtcMmNS2.js.map
  frontend/dist/assets/Seo-986Xj8qT.js
  frontend/dist/assets/Seo-986Xj8qT.js.map
  frontend/dist/assets/index-C5NMGTb_.css
  frontend/dist/assets/index-Dzd8rIx9.js
  frontend/dist/assets/index-Dzd8rIx9.js.map
  frontend/dist/assets/react-BiOD6Bo6.js
  frontend/dist/assets/react-BiOD6Bo6.js.map
  frontend/dist/assets/ui-CR49N7Ia.js
  frontend/dist/assets/ui-CR49N7Ia.js.map
  frontend/dist/favicon-192.png
  frontend/dist/favicon-48.png
  frontend/dist/favicon-512.png
  frontend/dist/favicon.ico
  frontend/dist/favicon.svg
  frontend/dist/index.html
  frontend/dist/og-default.png
  frontend/dist/ogp_image.jpg
  frontend/dist/robots.txt
  frontend/dist/sitemap.xml
  frontend/src/App.tsx
  frontend/src/components/common/ImageWithFallback.tsx
  frontend/vite.config.ts
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write, backend/bin/lint-staged-rubocop

feat: カクテル詳細の事前フェッチと画像プリロードを追加
  frontend/src/features/cocktails/components/CocktailCard.tsx
  frontend/src/features/cocktails/pages/CocktailDetail.tsx
  frontend/src/lib/api.ts
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

feat: カクテル詳細ダイアログの画像表示とプリフェッチ改善
  frontend/src/components/ui/dialog.tsx
  frontend/src/features/cocktails/components/CocktailCard.tsx
  frontend/src/features/cocktails/components/detail/CocktailDetailDialog.tsx
  frontend/src/features/cocktails/components/detail/CocktailDetailLeftColumn.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

Extend cocktails index cache to 3 hours
  backend/app/controllers/api/v1/cocktails_controller.rb
Due: backend/bin/lint-staged-rubocop

Remove expiry for cocktails index cache
  backend/app/controllers/api/v1/cocktails_controller.rb
Due: backend/bin/lint-staged-rubocop

chore(frontend): stop tracking built dist and fix .gitignore
  .gitignore
  backend/app/controllers/api/v1/cocktails_controller.rb
  frontend/dist/assets/CocktailDetail-BtsUmg9w.js
  frontend/dist/assets/CocktailDetail-BtsUmg9w.js.map
  frontend/dist/assets/CocktailList-DfMyNuPR.js
  frontend/dist/assets/CocktailList-DfMyNuPR.js.map
  frontend/dist/assets/EmailConfirmation-DqNBJ2Oq.js
  frontend/dist/assets/EmailConfirmation-DqNBJ2Oq.js.map
  frontend/dist/assets/ImageWithFallback-BtcMmNS2.js
  frontend/dist/assets/ImageWithFallback-BtcMmNS2.js.map
  frontend/dist/assets/Seo-986Xj8qT.js
  frontend/dist/assets/Seo-986Xj8qT.js.map
  frontend/dist/assets/index-C5NMGTb_.css
  frontend/dist/assets/index-Dzd8rIx9.js
  frontend/dist/assets/index-Dzd8rIx9.js.map
  frontend/dist/index.html
  frontend/src/components/common/ImageWithFallback.tsx
  frontend/src/components/layout/Seo.tsx
  frontend/src/features/cocktails/pages/CocktailDetail.tsx
  frontend/src/lib/api.ts
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write, backend/bin/lint-staged-rubocop

feat: ファビコン・OGP画像・PWA対応
  backend/db/structure.sql
  frontend/index.html
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16.png
  frontend/public/favicon-180.png
  frontend/public/favicon-192.png
  frontend/public/favicon-32.png
  frontend/public/favicon-48.png
  frontend/public/favicon-512.png
  frontend/public/favicon-64.png
  frontend/public/favicon-96.png
  frontend/public/favicon.ico
  frontend/public/favicon.svg
  frontend/public/og-default.png
  frontend/public/site.webmanifest
Due: none

chore: faviconとOGP画像を置換
  frontend/index.html
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16.png
  frontend/public/favicon-180.png
  frontend/public/favicon-192.png
  frontend/public/favicon-32.png
  frontend/public/favicon-512.png
  frontend/public/favicon-64.png
  frontend/public/favicon-96.png
  frontend/public/favicon.ico
  frontend/public/ogp_image.jpg
  frontend/public/ogp_image.png
  frontend/public/site.webmanifest
  frontend/src/lib/seo.ts
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

chore: PWA関連のメタ情報とmanifestを修正
  frontend/index.html
  frontend/public/site.webmanifest
Due: none

feat: ヘッダーのアイコンを絵文字から画像に変更
  frontend/src/components/layout/Header.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

chore: OGP画像ファイルを変更
  frontend/index.html
  frontend/public/ogp_image.png
  frontend/public/ogp_img.png
  frontend/src/lib/seo.ts
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

Revise README with updated app details and tech stack
  README.md
Due: frontend/node_modules/.bin/prettier --write

Update README.md
  README.md
Due: frontend/node_modules/.bin/prettier --write

feat: Google検索とSNS向けにメタ情報・構造化データを強化。
  frontend/index.html
Due: none

docs: 不要ファイルを削除
  docs/articles/portfolio_draft.md
  docs/old/.keep
Due: frontend/node_modules/.bin/prettier --write

Restore base and technique text on cocktail cards
  frontend/src/features/cocktails/components/CocktailCard.tsx
Due: frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern, frontend/node_modules/.bin/prettier --write

fix: カクテル一覧APIにバッジ情報を追加
  backend/app/controllers/api/v1/cocktails_controller.rb
Due: backend/bin/lint-staged-rubocop

chore: DB初期化をスキーマロードからマイグレーションに変更
  .github/workflows/ci.yml
Due: frontend/node_modules/.bin/prettier --write

chore: 不要なSQL設定と余分な改行を削除
  backend/db/structure.sql
Due: none

chore: switch backend schema format to ruby
  .github/workflows/ci.yml
  .gitignore
  backend/config/application.rb
  backend/db/schema.rb
  backend/db/structure.sql
Due: frontend/node_modules/.bin/prettier --write, backend/bin/lint-staged-rubocop

fix: restore cocktails index cache key
  backend/app/controllers/api/v1/cocktails_controller.rb
Due: backend/bin/lint-staged-rubocop

Path conditions:
  frontend/node_modules/.bin/eslint --config frontend/eslint.config.js --fix --max-warnings=0 --no-error-on-unmatched-pattern: any of: frontend/src/**/*.{js,jsx,ts,tsx}
  frontend/node_modules/.bin/prettier --write: ((any of: frontend/src/**/*.{js,jsx,ts,tsx}) or (any of: frontend/src/**/*.css)) or (any of: *.{json,md,yml,yaml})
  backend/bin/lint-staged-rubocop: any of: backend/**/*.rb
